div.global {
  margin: 5%;
}

div.menu {
  vertical-align: top;
  display: inline-block;
  width: 10%;
  margin-right: 2%;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  border-style: double;
}

div.menuItem {
  height: 20px;
  text-align: center;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
  border-style: groove;
}

div.info {
  padding-bottom: 10px;
  display: inline-block;
  width: 75%;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  border-style: double;
}

div.infoItem {
  background-color: rgb(190, 190, 190);
  padding: 10px;
  margin-top: 10px;
  text-align: top;
}

div.descr {
  display: inline-block;
  width: 100%-150px;
  text-align: center;
  vertical-align: top;
}

div.head {
  height: 10%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  text-align: center;
  border-bottom: black;
}

div.footer {
  height: 10%;
  width: 100%;
  border-top: black;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

div.pages{
  width: 100%;
  text-align: center;
}

img.ava {
  display: inline-block;
  width: 100px;
}

